
section#features.centered.bg-gray
  .container
    .row
      .col-md-12
        h1.display-1 Key features
    .row
      .col-xs-12.col-sm-6.col-md-4
        .feature
          .icn
            img.feat(src="img/features/schedule.png", alt="Event agenda")
          h2.headline.underline
            | Manage your schedule
          p.subhead-1
            | Give your attendees the autonomy to build and manage their personal schedule.
      .col-xs-12.col-sm-6.col-md-4
        .feature
          .icn
            img.feat(src="img/features/networking.png", alt="Networking" )
          h2.headline.underline
            | Networking
          p.subhead-1
            | Multiple ways for your attendees to connect, and get to know each other and exchange ideas.
      .col-xs-12.col-sm-6.col-md-4
        .feature
          .icn
            img.feat(src="img/features/polling.png", alt="Live Polling" )
          h2.headline.underline
            | Live polling
          p.subhead-1
            | Direct engagement between key speakers and the audience, through live poling and the discussion boards.
    .row
      .col-xs-12.col-sm-6.col-md-4
        .feature
          .icn
            img.feat(src="img/features/data.png", alt="Manage data")
          h2.headline.underline
            | Manage data
          p.subhead-1
            | Easily manage large amounts of data that are required for specific sessions (e.g. scientific conference abstracts).

      .col-xs-12.col-sm-6.col-md-4
        .feature
          .icn
            img.feat(src="img/features/note.png", alt="Advanced note taking")
          h2.headline.underline
            | Advance note taking
          p.subhead-1
            | Enables user to take notes alongside the presentations and across the app that can be converted and stored as pdf files.
      .col-xs-12.col-sm-6.col-md-4
        .feature
          .icn
            img.feat(src="img/features/multi.png", alt="Branded multi-event app")
          h2.headline.underline
            | Branded multi-event app
          p.subhead-1
            | Create revenue opportunities through enhanced sponsor and exhibitor profiles as well as banner advertising.
    .row
      .col-xs-12.col-sm-6.col-md-4
        .feature
          .icn
            img.feat(src="img/features/feedback.png", alt="Realtime Feedback")
          h2.headline.underline
            | Real time feedback
          p.subhead-1
            | In built feedback and further data provides useful live and digitalised information to track the success of your event.
      .col-xs-12.col-sm-6.col-md-4
        .feature
          .icn
            img.feat(src="img/features/integrated.png", alt="Integrated website")
          h2.headline.underline
            | Integrated website
          p.subhead-1
            | Easily build a modular website that is fully integrated with your app CMS yourself.
      .col-xs-12.col-sm-6.col-md-4
        .feature
          .icn
            img.feat(src="img/features/lifecycle.png", alt="Longer event lifecycle")
          h2.headline.underline
            | Longer event lifecycle
          p.subhead-1
            | With the app being accessible days before and after the conference.