!= partial("_partials/navbar/navbar")
!= partial("_partials/hero/hero")
!= partial("_partials/eventspark/eventspark")
!= partial("_partials/features/features")
!= partial("_partials/crossplatform/crossplatform")
!= partial("_partials/events/events")
!= partial("_partials/demo/demo")
!= partial("_partials/testimonials/testimonials")
!= partial("_partials/clients/clients")
!= partial("_partials/about/about")
!= partial("_partials/contact/contact")
!= partial("_partials/footer/footer")


