#thankYou.is-Hidden
  .Modal-Background
    .center-block.Absolute-Center.is-Fixed.is-Responsive.Modal#Fixed-Modal
      .Center-Content.centered
        .thankYou
          h3.display-1 Thank You
          h4.title Your message is recieved