section.centered
  .container
    .row
      .col-xs-12.col-md-4
        .testimonial
          img.quote(src="img/quote@2x.png", alt="Clients testimonial")
          p.subhead-1.justified I think that the app was a great asset for the event and certainly helped delegates as well as providing us with very useful feedback.
          p.caption Edward Wallitt, DigiDocs

      .col-xs-12.col-md-4
        .testimonial
          img.quote(src="img/quote@2x.png", alt="Clients testimonial")
          p.subhead-1.justified It never ceases to amaze how much hi-tech development there has been over the years at conferences. Certainly in my time this phone app is one of the more outstanding tools I have encountered. Highly recommended.
          p.caption Lord Ian McColl, Emeritus Professor at Kings College London, Chairman of Mercyships UK

      .col-xs-12.col-md-4
        .testimonial
          img.quote(src="img/quote@2x.png", alt="Clients testimonial")
          p.subhead-1.justified You managed to develop a product that has all the features an event organiser needs  in one app.
          p.caption Jane Watson, Morrow Communications
