section.events
  .container
    .row
      .col-md-12
        h2.display-3 One app for all events
    .row.top-padding
      .col-xs-6.col-md-4
          .event-item
            img.event-pic(src="img/events/courses@2x.png", alt="Courses")
            h4.event-type Courses
      .col-xs-6.col-md-4
          .event-item
            img.event-pic(src="img/events/seminars@2x.png", alt="Seminars")
            h4.event-type Seminars
      .col-xs-6.col-md-4
          .event-item
            img.event-pic(src="img/events/talks@2x.png", alt="Talks events")
            h4.event-type Talks

      .col-xs-6.col-md-4
          .event-item
            img.event-pic(src="img/events/prize@2x.png", alt="Prize meeting events")
            h4.event-type Prize meetings
      .col-xs-6.col-md-4
          .event-item
            img.event-pic(src="img/events/conferences@2x.png", alt="Conferences")
            h4.event-type Conferences
      .col-xs-6.col-md-4
          .event-item
            img.event-pic(src="img/events/workshop@2x.png", alt="Workshop events")
            h4.event-type Workshops
