
footer.footer
  .container
    .row
      .col-xs-12.col-sm-4
        ul.footer-nav
          li
            a(data-scroll href='#product') Product
          li
            a(data-scroll href='#features') Features
          li
            a(data-scroll href='#about') About Us
          li
            a(data-scroll href='#contacts') Contact us
          li
            a(data-scroll href='#contacts') Demo

        .social
          h3 Follow us on social media
          .social-icn
            a(href="https://plus.google.com/u/1/b/101031414674926465862/101031414674926465862/about/p/pub", target='_blank' )
              img.social-link(src="img/social/g@2x.png", alt="eventSpark Google plus profile")
            a(href="https://www.linkedin.com/company/tapfuse-ltd", target='_blank' )
              img.social-link(src="img/social/in@2x.png", alt="eventSpark LinkedIn profile")
            a(href="https://twitter.com/tapfuse", target='_blank' )
              img.social-link(src="img/social/twitter@2x.png", alt="eventSpark Twitter profile")



      .col-xs-12.col-sm-4
        p.copyright &copy; Copyright 2015 TapFuse



      .col-xs-12.col-sm-4
        .footer-img
          img.devices(src="img/devices@2x.png", alt="Mobile app for event for events and conferences by TapFuse")
