section#contacts.bg-gray
  .container
    .row
      .col-md-12
        h2.display-1.centered Contact us to get your personal demo
    .row
      .col-xs-12.col-md-5.col-md-push-7
        .address-details
          p.subhead-1 Do not hesitate to contact us by filling out our contact form or get in touch by mail  that is provided below.
          .row
            .col-md-12
              .content.addr-info
                h3.title Our headquaters
                .address
                  img.adr_icon(src="img/contact/location@2x.png" alt="UK Headquaters address")
                  p.subhead-1.icn-float Tapfuse Limited<br> 16-24 Underwood Street <br> London, UK
                .address
                  img.adr_icon(src="img/contact/email@2x.png" alt="Email address")
                  a(href="mailto:info@tapfuse.io").subhead-1.icn-float info@tapfuse.io
                .address
                  img.adr_icon(src="img/contact/email@2x.png" alt="Phone contact")
                  a(href="mailto:support@tapfuse.io").subhead-1.icn-float support@tapfuse.io

                img.map(src="img/contact/ukmap@2x.png" alt="Headquaters")


      .col-xs-12.col-md-7.col-md-pull-5
        .contact_form
          script(type='text/javascript').
            var submitted=false;
          iframe#hidden_iframe(name='hidden_iframe', style='display:none;', onload="if(submitted)\
          {window.location='#contacts';}")
          form#contact_form(action='https://docs.google.com/a/tapfuse.io/forms/d/1JAGioo8ple6Ev51lnp5He_UB5WUu-oP4IH1ONbgY7Zc/formResponse', method='post', target='hidden_iframe', onsubmit='submitted=true', name='eventSpark contact form')
            .group
              input#entry_514303774.ss-q-short(type='text', name='entry.514303774', value='', dir='auto', aria-label='Full name  ', required='', title='')
              span.highlight
              span.bar
              label  Full name
            .group
              input#entry_986273098.ss-q-short(type='text', name='entry.986273098', value='', dir='auto', aria-label='Company name  ', aria-required='true', required='', title='')
              span.highlight
              span.bar
              label  Name of your company
            .group
              input#entry_1402798169.ss-q-short(type='text', name='entry.1402798169', value='', dir='auto', aria-label='Phone number  ', aria-required='true', required='', title='')
              span.highlight
              span.bar
              label  Phone number
            .group
              input#entry_1495031352.ss-q-short(type='email', name='entry.1495031352', value='', dir='auto', aria-label='Email  Must be a valid email address', aria-required='true', required='', title='')
              span.highlight
              span.bar
              label  Your  email
            .group
              textarea#entry_870436648.ss-q-short(type='text', name='entry.870436648', value='', dir='auto', aria-label='Your message  ', aria-required='true', required='', title='')
              span.highlight
              span.bar
              label  Your  message

            input#ss-submit.jfk-button.jfk-button-action(type='submit', name='btnSubmit', value='Submit', onclick='resetForm()')

